{%extends 'base.html'%}
{%block title%}users{%endblock%}

{%block content%}
<div>
    <h3>Existing users</h3>
    <ul>
        {% for person in user %}
            <li>{{ person }} <button class="btn btn-danger" onclick="deletePerson({{ person.id }})">Delete</button><a href="{{ url_for('userdetails',id=person.id) }}">Details</a></li>
        {% endfor %}
    </ul>

    <h3>Add new user</h3>
    <form action="{{ url_for('users')}}" method="POST">
        <input type="text" name="name" placeholder="Name" required="required">
        <br>
        <input type="text" name="age" placeholder="Age" required="required">
        <br>
        <input type="text" name="about" placeholder="About">
        <br>
        <input class="btn btn-success" type="submit" value="Create">
    </form>
</div>

<script type="text/javascript">
    function deletePerson(id){
        fetch('{{ url_for("deleteuser",id=id) }}'+ id ,{
            method: 'DELETE'
        }).then(response => {
            if (response.ok){
                window.location.reload()
            }
            else{
                console.error('Failed to delete person with id: ' , id)
            }
        }).catch(error => {
                console.error('Error during fetching :', error )
            })
    }
</script>
{%endblock%}

